/*Layout styles */
 body{
     /* margin-left:auto;
     margin-right:auto ; */
     background-color: #4aaaa5;
     height:100%;
     min-height: 100%;
     font-family:'Arial', sans-serif ;
     font-size: 15px;
     color:#777777;
     background-image:url("../images/circles.png");
}
/* * {
 box-sizing: border-box;
  }   */

 header{
   /*   position:relative;
   margin-top:auto;
   margin-bottom:10px; */
     padding-top:15px;
     /* color:white; */
    /*background-color: white;
    */
}
 /* nav{
     position:absolute;
     top:0;
     right:15%;
     text-align:center;
     color:white;
 } */
 #mainContainer{
     max-width:960px; 
     padding-bottom: 50px;
      padding: 20px;

     /*margin-right: auto;
     margin-left:auto;
     margin-top:20px;
     height:90%; */
}
 section{
    /*float:left;
      padding:10px;  
          width:640px; */     
     border-color: #dddddd;   
     background-color:#ffffff; 
     padding-bottom:10px;
    /*  width: 100%; */
}

 aside{
      /* float:right;
       padding:30px;
        width:170px;  */    
     border-color: #dddddd;
     background-color:#ffffff;
     padding-bottom:10px;
     margin-top:20px;
   /*   width: 100%; */
     
}
 footer{
    /*  text-align: center;
    clear:both;
    position: fixed;
     right:0;
     left:0;
     bottom: 0; 
     padding:5px;*/
     height:20px;     
     background-color:#666666;      
     color:white;     
     border-top: 5px solid #4aaaa5;
}


 h1{
    /*  position:absolute;
    bottom:0px;
    left:15%; */
    color:white;
     font-size: 20px;
     padding:10px;
     font-family:'Georgia', Serif;
     background-color: #4aaaa5;
     
}
 h2,h3{
     padding:10px;
     color:#4aaaa5;
     font-family:'Georgia', Serif;
     
}
h2{
font-size: 17px;
}
h3{
   font-size: 14px; 
}

/* Menu list */
/*  ul{
    list-style-type: none;
    overflow: hidden;
    padding-left:10px;
}
Menu list content
.lia{
    text-decoration: none;
    text-align: center;
    color:#777777;
}
.li{
    float: left;
    padding:10px;
} */

.contactContent
{
    padding:5px;

}
 a:visited{
     color:#777777;
}

 a:hover{
     color: red;
     transition: color 1s;
}
 section:hover {
     background-image:url("../images/circles(1).png");
}
 aside:hover{
     background-image:url("../images/circles(1).png");
}
 p{
     padding:3px;
}
 img{
     /* float:left; */
     padding:10px;
}

 form{
     padding:10px;
}
 input[type=text],textarea{
     width:100%;
}
 button[type=submit]{
     background-color:#4aaaa5;
     color:white;
     padding:5px 20px;
}
 .imageContainer{
    /*  float:left; */
     
     padding:10px;
}
.imageContainer img{
    position:relative;
    width:100%;
    }
 .imageContainer h3{
     position:absolute;
     bottom:30px;
     left:10%;
     text-align:center;
     padding:10px;
     color:white;
     background-color: #4aaaa5;
     width:80%;
}
 
 